@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body {
    margin: 0%;
    font-family: 'poppins', sans-serif;
}

.img-logo {
    width: 43px;
    border: none;
    border-radius: 100%;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.3);
}
.cart-img {
    width: 30px;
}

nav {
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.3);
    background-color: rgb(243, 244, 245);
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 0%;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

a, li, ul {
    outline: none;
    text-decoration: none;
    list-style: none;
    color: rgb(101, 80, 121);
    font-weight: 500;
}

li:hover {
    color: black;
    transition: .3s ease-in-out;
}

/*Banners*/
.banners{
    margin: 0%;
    padding: 0%;
    text-align: center;
}
.text {
    font-size: 27px;
    font-weight: 600;
    margin: 30px 0px 0px 0px ;
    padding: 0%;
}
.text1, .text2 {
    color: rgb(78, 78, 78);
    margin: 0%;
    padding: 0%;
    font-size: 15px;
}

.container2 {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    margin-top: 40px;
    height: 69vh;
}

.images {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.image1 {
    margin-top: 60px;
    width: 300px;
    transition: .3s ease-out;
}


.imageLeft:hover, .imageCenter:hover, .imageRight:hover {
    transform: scale(1.1);
    transition: .3s ease-in-out;
}

.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 239, 239);
    margin: 0%;
    padding: 5px;
    gap: 15px;
}

.footer-img {
    margin-top: 9px;
    width: 23px;
}
.out {
    transform: scale(0.9);
}